<h2>{{title}}</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Todo Items</th>
    </tr>
  </thead>
  <tbody>
    {{#each todos as |todo|}}
      <tr>
        <td>{{todo.todoItem}} <button class="btn btn-primary pull-right">start</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>